.container{
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.placeholder{
    display: flex;
    flex-direction: column;
    min-width: 70%;
    
}

/* .header-row imported from App.css{
    display: flex;
    justify-content: left;
} */

.signUp-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
   
}

.signUp-row{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    margin-bottom: 2%;
}

.select-form{
    min-width: 100%;
    min-height: 56px;
    font-size: 20px;
    font-weight: 700;
    color:#285850;
    outline: none;
}

/* 
.button-row imported from App.css{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
} */

.info-container{
    display: flex;
    flex-direction: row;
}

.info-col{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.info-row{
    display: flex;
    
}

.add-button{
    display: flex;
    justify-content: center;
}

.horizontal-line{
    display: flex;
    min-width: 100%;
    border: 2px solid #285850;
}