.home-container{
    display: flex;
    justify-content: space-evenly;
    
}

.home-col{
    display: flex;
    min-height: 400px;
    margin-top: 150px;
}

.home-btn{
    width: 200px;
    height: 61px;

    border: 3px solid #285850;
    border-radius: 10px;
    background-color: #285850;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family:'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
     
}

.home-btn a{
    text-decoration: none;
    color: #E8F6F4;
}