.footer-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    padding: 2%;
    flex-wrap: wrap;
    position: relative;
    bottom: 0;
}

.logo{
    max-width: 100%;
    max-height: 100px;
}