.excursionInfo-container{
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 5% 5% 5%;
}


.excursionInfo-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

.excursionInfo-row{
    display: flex;
    margin: 5%;
    flex-wrap: wrap;
}

.excursionInfo-col{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    
    background-color: #2F796D;
    border: solid 3px #2F796D;
    border-radius: 10px; 
    min-height: 62px;
}

.excursionInfo-col-items{
    font-size: 20px;
    font-weight: 700;
    color: #F2F2F2;   
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    
}
.info-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5%;

    border: solid 3px #C4F2EB;
    border-radius: 10px; 
    min-height: 62px;

    color:#285850;
}

#info-row1{
    flex: 6;

}

#info-row2{
    flex: 1;
    border: none;
}

.info-col{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.info-col-items{
    font-size: 20px;
    font-weight: 700;
    color: 285850; 
    align-items: center;
}

.info-row button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    
    background-color: #2F796D;
    border: solid 3px #2F796D;
    border-radius: 10px;
    min-height: 62px;
    min-width: 105px;

    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color:#C4F2EB;
    
    cursor: pointer; 
    
}

.info-row a{
    text-decoration-color: #2F796D;
}