.overview-container{
    display: flex;
    flex-direction: column;
}

.border-header{
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;

}

.header{
    background-color: white;
}

.info-excursion-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 4;
    margin-top: -1.6em;
    position: relative;
    z-index: -1;
    
    border: solid #82D9CA;
    border-radius: 10px;

}

.line{
    display: flex;
    justify-content: center;
    flex: 1.5;
    color:#82D9CA;
    font-size: 34px;
    font-weight: bold;
}

.info{
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
}

/*
fieldset{
    position: relative;
}

.border-header{
    width: 50px;
    padding: 2px;
    margin-left: calc(50% - 35px - 2px);
}

fieldset::before{
    content: "Type";
    position: absolute;
    margin-top: -48px;
    left: 100px;
    background: #fff;
    padding: 0 5px;
}

fieldset::after{
    content: "Date";
    position: absolute;
    margin-top: -48px;
    right: 100px;
    background: #fff;
    padding: 0 5px;
}
*/