.page-header{
    display: flex;
    justify-content: left;
    margin-bottom: 2%;
}

.page-title{
    margin-left: 34px;
}

.header-line{
    display: flex;
    justify-content: left;
    background: #2F796D;
    background-color: #2F796D;
    border: 5px solid #2F796D;
    width: 370px;
    margin-left: 0px;
}

