.data{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 20px;
}

.info-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 2%;
    border: solid 3px #C4F2EB;
    border-radius: 10px; 
    color:#285850;
    
}

.row-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .row-spec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    height: 22px;
    margin-left: 8%;
  }

.btn{
    align-self: center;
}
  
.data-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #2F796D;
    border: solid 3px #2F796D;
    border-radius: 10px; 
    font-size: 20px;
    font-weight: 700;
    color: #F2F2F2;
    margin-bottom: 2%;
}


.row-item{
    width: 100%;
    flex-direction: row;
}

.lists{
    display: flex;
    flex-direction: column;
}
