.next-button{
  display: flex;
  align-items: center;

  width: 150px;
  height: 45px;
  left: 9219px;
  top: 950px;

  background-color: #2F796D;
  border: solid 3px #2F796D;
  border-radius: 10px;

  padding: 2%;
  cursor: pointer;
  justify-content: center;
}

.next-button p{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: -0.02em;  
  color:#E8F6F4;
  text-decoration: none;
}

.back-button{
  display: flex;
  align-items: center;

  background-color: #FFFFFF;
  border: solid 3px #2F796D;
  border-radius: 10px;  

  width: 150px;
  height: 45px;
  left: 9219px;
  top: 950px;

  cursor: pointer;
  justify-content: center;
}

.back-button p{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;  
  color:#2F796D;
  cursor: pointer;
  text-decoration: none;  
}

.green-button{
  display: flex;
  align-items: center;
  
  width: 105px;
  height: 62px;
  left: 905px;
  top: 469px;
  
  background-color: #2F796D;
  border: solid 3px #2F796D;
  border-radius: 10px;
  
  padding: 2%;
  cursor: pointer;
  justify-content: center;
}
  
.green-button p{
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;  
  color:#E8F6F4;
  text-decoration: none;
}