.member-frontpage-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #2F796D;
    font-size: 34px;
    text-decoration: underline;
    margin: 0 5% 5% 5%;

    

}

.member-frontpage-header{
    margin: 2%;
}

.member-frontpage-row{
    display: flex;
    margin: 1%;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;

}

.member-frontpage-col1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 3;
    flex-wrap: wrap;
    

    border: solid 3px #82D9CA;
    border-radius: 10px; 
    min-height: 62px;

    margin-right: 3%;
}

.member-frontpage-col2{
    display: flex;
    align-items: center;
    min-height: 62px;
   
    
}

.member-frontpage-col2 Link{
    display: flex;
    align-items: center;
    min-height: 62px;
   
    
}

.member-frontpage-col2 button{
    display: flex;
    align-items: center;
    flex: 1;
    
    background-color: #2F796D;
    border: solid 3px #2F796D;
    border-radius: 10px;
    min-height: 62px;

    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color:#C4F2EB;
    
    cursor: pointer;   
}

.member-frontpage-col2 a{
    text-decoration-color: #2F796D;
}

.member-frontpage-col-items{
    font-size: 20px;
    font-weight: 700;
    color:#285850;

    padding: 1%;

    
}