.overview-container{
    display: flex;
}

.info-excursion-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 4;

    margin-right: 30px;
    margin-bottom: 30px;
    height: 80px;
    
    border: solid #82D9CA;
    border-radius: 10px;

}

.line{
    display: flex;
    justify-content: center;
    flex: 1.5;
    color:#82D9CA;
    
}

.info{
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.button-column{
    flex: 0.5;
    align-self: center;
    margin-right: 80px;
    margin-bottom: 20px;
}

fieldset{
    position: relative;
}

.border-header{
    width: 50px;
    padding: 2px;
    margin-left: calc(50% - 35px - 2px);
}

fieldset::before{
    content: "Type";
    position: absolute;
    margin-top: -48px;
    left: 100px;
    background: #fff;
    padding: 0 5px;
}

fieldset::after{
    content: "Date";
    position: absolute;
    margin-top: -48px;
    right: 100px;
    background: #fff;
    padding: 0 5px;
}
