.menu-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    padding: 2%;
    flex-wrap: wrap;
    margin: 0px;
}

.menu-link{
    width: 122px;
    height: 40px;
    
    border: 3px solid #285850;
    border-radius: 10px;

    display: flex;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    
}

.menu-link a {
    color: #285850;
    text-decoration: none;

    margin-top: 9px;
}

#icon-link{
    border: none;
}

#icon{
    font-size: 35px;
    color: #285850;
}