.menu-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding: 2% 10% 2% 10%;;   
}

.menu-link{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-link a:link {
    text-decoration: none;
}

.menu-link a:hover{
    color: #2F796D;
    text-decoration: underline;
    text-decoration-thickness: 20%;
}




