.organizer-container{
    display: flex;
}

.header-organizer{
    margin-left: 20px;
    height: 70px;
    border: solid white;
}

.excursions-organizer{
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    margin-top: 120px;
    width: 1000px;

}

.button-create{
    align-self: center;
}

.all-excursions{
    display: flex;
    flex-direction: column;
    
}

.one-excursion{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.info-excursion{
    width: 800px;
    
}

.button-getInfo{
    margin-bottom: 10px;
}
